parameters:
  level: 1
  editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
  paths:
    - src
    - tests/Rules
rules:
  - abenevaut\Infrastructure\Rules\CodeDoesNotContainDumpRule
  - Tests\Rules\ControllersExtendBaseControllerRule
  - Tests\Rules\ListenersExtendBaseListenerRule
